.login-container {
  background-image: url('login_back.jpg');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  height: 92.3vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}